<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/MacGPG2/bin:/Library/TeX/texbin:/Applications/Wireshark.app/Contents/MacOS:/usr/local/sbin</string>
	</dict>
	<key>Label</key>
	<string>sh.brew.outdated</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>/bin/rm /tmp/brew.outdated ; /usr/local/bin/brew outdated &gt; /tmp/brew.outdated</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/brewoutdated.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/brew.outdated</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
